body{
    background-image:url("photo22.jpg");    
    }
    
    .heading1{
    margin-left:80px;
    margin-top:80px;
    margin-bottom:30px;
    word-spacing:5px;
    font-size:60px;
    }
    .heading2{
    margin-left:80px;
    word-spacing:2px;
    font-size:28px;
    }
    .main__profile-name{
    font-size:40px;
    color:yellow;
    font-family:arial;
    }
    
    .main__profile-repos{
    font-size:40px;
    color:yellow;
    font-family:arial;
    }
    
    .main__profile-username{
    font-size:40px;
    color:yellow;
    font-family:arial;	
    }
    
    .main__profile-url{
    font-size:40px;
    color:yellow;
    font-family:arial;	
    }
    
    .main__profile-value{
    font-size:40px;
    color:lightgreen;
    font-family:sans-serif;	
    }